{% extends 'base.html.twig' %}

{% block body %}

<section class="header">
            
  <div class="headerBody">
    <img src="{{asset('/images/logo-removebg-preview.png')}}" class="logo" />
    <div class="rightsideheader">
      <ul>
        <li>
          <a href="/"><div class="icon"><i class="fa fa-home"></i></div>
          Home </a>
        </li>
        <li><a href="/aboutus">
          <div class="icon"><i class="fa-regular fa-address-card" style="color: black;"></i></div>
          AboutUs</a>
        </li>
        <li>
          <a href="/projects"><div class="icon"><i class="fa-solid fa-book-open-reader" style="color: #000;"></i></div>
          View Projects </a>
        </li>
        <li><a href='/contactus'>
          <div class="icon"><i class="fa fa-comments"></i></div>
          Contact Us</a>
        </li>
      </ul>
      <div class="headimg" id="headimg">
      </div>
    </div>
  </div>
  <div id="searchlist">
        <ol id="list">

        </ol>
      </div>

</section>
<div class="signbody">
  <img src="{{asset('/images/reset.jpg')}}" style="width: 30vw; !important" />

  <div class="signup-box resetpass">
    <h1>Create New Password</h1>
    <form id="formpassreset">
      <span id="error"></span><br />
      <input type="password" name="pass" placeholder="Enter Password" id="pass" />
      <input type="password" name="confirmPass" placeholder="Confirm Password" id="cpass" />
      <input type="submit" name="login" value="Password Link" id='resetP' token="{{token}}" />
      <a href="login" style="float: left">LogIn</a>
    </form>
  </div>
  <div class="loader-div">
    <img class="loader-img" src="{{asset('images/Triple intersection.gif')}}" style="height:120px;width:auto;" />
  </div>
</div>

<footer>
  <div class="footer">
      <div class="foot-left">
          <div class="logo-foot">
              <img src="{{asset('/images/logo-removebg-preview.png')}}" />
          </div>
          <div class="content">
              <p>Streamlined platform for student collaboration, project submission, and networking.
                  Facilitates
                  seamless teamwork, feedback, and skill development in a vibrant community.</p>
          </div>
      </div>
      <div class="links-foot">
          <div class="foot-head">
              Quick Links
          </div>
          <div class="foot-links">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/aboutus">About</a></li>
                  <li><a href="/contactus">Contact</a></li>
                  <li><a href="/projects">View Projects</a></li>
              </ul>
          </div>
      </div>

  </div>
  <div class="copyright">
      © 2024 Developed By Team Predecon. All Right Reserved
  </div>
</footer>
{% endblock %}